work/*
docs/__*
tests/__pycache__
tests/results/*
tests/pytest/output/*
tests/testthat/output/*
tests/*fasta
*fasta
tests/nf-test-out/*
.projectile
metrics/*
*.tsv
.nextflow*
data/*
bin/__*
results/*
reports/*
resources/*
rna-seq/work/*
testzone*
shotgun/work/*
tools/*
.nf-test
*.txt
/*.sh
docs/flow.{png,svg}
docs/images/*
