work/*
tests/*
docs/__*
.projectile
metrics/*
*.tsv
.nextflow*
data/*
bin/__*
results/*
reports/*
resources/*
rna-seq/work/*
testzone*
shotgun/work/*
tools/*
.nf-test
*.txt
/*.sh
docs/flow.{png,svg}
docs/images/*
