docker.runOptions = '-u $(id -u):$(id -g)'
conda.enabled = true


executor {
    name = "local"
    queueSize = 8
}


params.manifest_file = "test_manifest.tsv"
data = "$projectDir/data"
params.pref = params.manifest_file[0..-5]
params.config = "$projectDir/config"
params.results = "$projectDir/results/$params.pref"
params.logs = "$params.results/logs"
params.to_construct = ""
params.db_spec = "${params.pref}.DB.txt"
params.bin = "$projectDir/bin"


// RNA seq params
params.rawfastq = "$data/RNA/*.fastq"
params.rnadata = "$data/RNA-seq"
params.assembled = "$data/RNA-seq/4-assembly"
params.translated = "$data/RNA-seq/6-translated"
params.alignlog = "$projectDir/reports/RNA-seq/rnaquast-read_alignment"

// Mass spec params
params.minpeplength = "7"
params.decoy_prefix = "rev_"
params.mappings = "$data/protein_databases/header_mappings.tsv"
params.stats = "$projectDir/reports/Proteomics/"
params.masstolerance = "20"
params.smsnetmodel = "$data/SMSNET/smsnet.model.m/smsnet"
params.casanovomodel = "$data/reference/casanovo_massivekb.ckpt"
params.pepnet_exe = "/home/shannc/tools/PepNet/denovo.py"
params.pepnetmodel = "$data/reference/pepNetmodel.h5"
