docker.runOptions = '-u $(id -u):$(id -g)'
includeConfig 'config/controller.config'
conda.enabled = true
executor {
    name = "local"
    queueSize = 1
}


data = "$projectDir/data"
params.pref = "jelly" // Change this for the validation dataset
params.results = "$projectDir/$params.pref/results"


// RNA seq params
params.cleaned = "$data/RNA-seq/2-filtering"
params.logs = "$projectDir/logs"
params.normalized_seqs = "$data/RNA-seq/3-normalize"
params.reports = "$projectDir/reports/RNA-seq"
params.stats = "$projectDir/reports/RNA-seq/2-filtering"
params.normalized = "$projectDir/reports/RNA-seq/3-normalize"
params.rawfastq = "$data/RNA/*.fastq"
params.stats = "$projectDir/reports/RNA-seq/2-filtering"
params.reports = "$projectDir/reports/RNA-seq" // If you don't specify $projectDir, then the directory will get created in nextflow's 'work' directory for that process for an output process
params.rnadata = "$data/RNA-seq"
params.assembled = "$data/RNA-seq/4-assembly"
params.translated = "$data/RNA-seq/6-translated"
params.alignlog = "$projectDir/reports/RNA-seq/rnaquast-read_alignment"
params.k = "31"

// Mass spec params
params.mzmls = "$data/MS/mzML/CiCs*.mzML"
params.mzXMLs = "$data/MS/mzXML/*mzXML"
params.raws = "$data/MS/raw/*raw"
params.mqPars = "$projectDir/config/default_maxquant.xml"
params.mgfs = "$data/MS/mgf/*mgf"
params.minpeplength = "7"

params.decoy_prefix = "rev_"
params.database = "$data/reference/protein_databases/combined/all_normal.fasta"
params.decoys = "$data/reference/protein_databases/combined/all_decoys.fasta"
params.databaseWdecoy = "$data/reference/protein_databases/combined/decoyWnormal.fasta"
params.stats = "$projectDir/reports/Proteomics/"
params.masstolerance = "20"
params.cometPars = "$projectDir/config/default_comet.params"
params.identipyPars = "$projectDir/config/identipy.cfg"
params.fragger_openPars = "$projectDir/config/open_fragger.params"
params.fragger_closedPars = "$projectDir/config/MSFragger_params.params"
params.morpheusPars = "$projectDir/config/metamorpheus_params.toml"
params.smsnet_dir = "$params.results/SMSNET"
params.smsnetmodel = "$data/SMSNET/smsnet.model.m/smsnet"
