nextflow.enable.dsl=2
conda.enabled = true


executor {
    name = "local"
    queueSize = 10
}

params.subworkflow = null
params.help = null
params.manifest_file = null // TSV file containing paths to
// spectra files
data = "$projectDir/data"
if (params.manifest_file != null) {
    params.pref = params.manifest_file[0..-5].replaceAll(".*/", "")
} else {
    params.pref = "UNSPECIFIED"
}
params.storage = "$projectDir/.cache"
params.results = "$projectDir/results/$params.pref"
params.p1 = "$params.results/1-First_pass"
params.p2 = "$params.results/2-Second_pass"
params.logs = "$params.results/Logs"
params.annotate = true
params.species_spec = "Chironex_indrasaksajiae"
// params.saved_annotations = "$projectDir/data/reference/C_indra_previous_annotations.tsv"
params.saved_dir = "$params.results/.saved"
params.tax_id = "1758319"
params.config_dir = "$projectDir/config" // Config file directory
params.denovo = true
params.to_construct = null // Database file
params.db_loc = "${projectDir}/runs"
params.db_spec = "${params.db_loc}/${params.pref}.DB.txt" // Text file containing paths to databases
// and mapping file
params.blast_db = "$params.results/Databases/blast_db/downloaded"
params.fasts_db = "$params.results/Databases/blast_db/downloaded.fasta"
params.bin = "$projectDir/bin" // Script location
params.pep_thresh = 1 // PEP threshold for final filtering
params.fdr = 0.05 // FDR threshold for final filtering
params.decoy_prefix = "rev_"

// Extra databases
params.go = "/mnt/data/shannc/nf/data/reference/go.obo"
params.go_predefined = "/mnt/data/shannc/nf/config/custom_go_groups.json"
params.go_slims = "/mnt/data/shannc/nf/data/reference/goslim_generic.obo"
params.go_texts = "/mnt/data/shannc/nf/data/reference/.go_texts"
params.go_embeddings = "/mnt/data/shannc/nf/data/reference/go_embedded.npz"
params.pfam2go = "$params.results/Databases/pfam2go"
params.pfam_clans = "$data/reference/Pfam-A.clans.tsv"
params.cog_maps = "$data/reference/cog_go_mapping.tsv"
params.all_maps = "$params.config_dir/protein_groups.toml"
params.kegg2go = "$params.results/Databases/kegg_reaction2go"
params.ec2go = "$params.results/Databases/ec2go"
params.pfam_entries = "$params.results/Databases/pfam_entries.tsv"
params.interpro2go = "$params.results/Databases/interpro2go"
params.uniprot_reviewed = "$data/protein_databases/comparison_taxa/reviewed_all.tsv"
params.ncbi_taxdump = "$data/reference/taxdump.tar.gz"
params.comparison_esm  = "$data/protein_databases/uniprot_embeddings/esm_out"
params.comparison_prottrans = "$data/protein_databases/uniprot_embeddings/pt_embeddings.hdf5"


// Metrics and reports
dag.enabled = true
dag.overwrite = true
dag.file = "metrics/${params.pref}/dag.html"
timeline.enabled = true
timeline.overwrite = true
timeline.file = "metrics/${params.pref}/timeline.html"
trace.enabled = true
trace.overwrite = true
trace.file = "metrics/${params.pref}/trace.html"
report.enabled = true
report.overwrite = true
report.file = "metrics/${params.pref}/report.html"

// Conda envs
params.reticulate = "/home/shannc/anaconda3/envs/reticulate"
params.protlm = "/home/shannc/anaconda3/envs/protlm"
params.esmfold = "/home/shannc/anaconda3/envs/esmfold"
params.conda = "/home/shannc/anaconda3"

// RNA seq paths
params.rawfastq = "$data/RNA/*.fastq"
params.rnadata = "$data/RNA-seq"
params.assembled = "$data/RNA-seq/4-assembly"
params.translated = "$data/RNA-seq/6-translated"

// Model paths
params.smsnetmodel = "$data/models/SMSNet/smsnet.model.m/smsnet"
params.casanovomodel = "$data/models/casanovo_massivekb.ckpt"
params.pepnetmodel = "$data/models/pepNetmodel.h5"
params.signalp6model = "$data/models/signalp6"
params.esm = "$data/models/esm2_t36_3B_UR50D.pt"
params.prottrans = "$data/models/prot_t5_xl_uniref50"


// Exectuables
params.smsnet_exe = "/home/shannc/workflow/tools/SMSNet/run.py"
params.pepnet_exe = "/home/shannc/workflow/tools/PepNet/denovo.py"
params.dotnet6 = "/home/shannc/workflow/tools/dotnet6/dotnet"
params.thermo_parser = "/home/shannc/workflow/tools/ThermoRawFileParser/ThermoRawFileParser.exe"
params.flashlfq = "/home/shannc/workflow/tools/FlashLFQ/CMD.dll"
params.mmseqs = "/home/shannc/.local/bin/mmseqs"
params.msgf = "/home/shannc/workflow/tools/MSGFPlus/MSGFPlus.jar"
params.msfragger = "/home/shannc/workflow/tools/MSFragger-3.7/MSFragger-3.7.jar"
params.eggnog_data_dir = "/mnt/data/shannc/nf/tools/eggnog-mapper-data"
params.eggnog_db_fasta = "/mnt/data/shannc/nf/tools/eggnog_proteins.fasta"
params.ontologizer_jar = "/home/shannc/workflow/tools/Ontologizer.jar"
