conda.enabled = true

params.mq_peptides = "../resources/raw/CiCs*/combined/txt/allPeptides.txt"
params.mzmls = "../resources/raw/CiCs*/CiCs*.mzML"
params.mqpars = "$projectDir/config/*_mqpar.xml"
params.mgfs = "../resources/converted_raw/*"

params.database = "../resources/reference/protein_databases/combined/all.fasta"

params.stats = "../reports/Proteomics/"
params.fragger_dir = "../resources/processed/MsFragger"
params.smsnet_dir = "../resources/processed/SMSNET"
params.smsnetmodel = "../resources/SMSNET/smsnet.model.m/smsnet"

// MSGF+
params.inst = "1" // Specifies orbitrap
params.msgf_tolerance = "20ppm"
